 
<div class="container-fluid">
    <div class="card-columns">
      <div class="card" *ngFor="let item of lessons">
        <div class="card-header">
           <p class="card-title">{{item.letter}} |    {{item.title}}</p>
        </div>
        <div class="card-body">
             <div class="list-group list-group-flush">
              <a href="#" *ngFor="let activity of item.activities" class="list-group-item list-group-item-action">{{item.letter}}.{{activity.number}} {{activity.title}}</a>
            </div> 
        </div> 

      </div>
    </div>
</div>
