<nav> 

<mat-form-field appearance="fill">
  <mat-select [(value)]="selectedSubject">
    <mat-option value="math">Math</mat-option>
    <mat-option value="english">English</mat-option>
    <mat-option value="bible">Bible</mat-option>
    <mat-option value="science">Science</mat-option>
    <mat-option value="arts">Arts</mat-option>
    <mat-option value="pe">PE</mat-option>
    <mat-option value="digitaltechnology">Digital Technology</mat-option>
    <mat-option value="socialstudies">Social Studies</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-select [(value)]="selectedYear">
    <mat-option value="kindergarten">Kindergarten</mat-option>
    <mat-option value="year_1">Year 1</mat-option>
    <mat-option value="year_2">Year 2</mat-option>
    <mat-option value="year_3">Year 3</mat-option>
    <mat-option value="year_4">Year 4</mat-option>
    <mat-option value="year_5">Year 5</mat-option>
    <mat-option value="year_6">Year 6</mat-option>
    <mat-option value="year_7">Year 7</mat-option>
    <mat-option value="year_8">Year 8</mat-option>
    <mat-option value="year_9">Year 9</mat-option>
    <mat-option value="year_10">Year 10</mat-option>
    <mat-option value="year_11">Year 11</mat-option>
    <mat-option value="year_12">Year 12</mat-option>
    <mat-option value="year_13">Year 13</mat-option>
  </mat-select>
</mat-form-field>
<a [routerLink]="['/homepage', selectedSubject, selectedYear]" routerLinkActive="active">Load</a>
<a href="http://20.70.176.210/php/homeschool/insert-question.html">     CREATE QUESTIONS</a>
</nav>


<router-outlet></router-outlet>
